#header {
	height: 40px;
	line-height: 40px;
	background-image: url(images/back-header.png);
}

#header h2 {
	float: left;
	margin-left: 20px;
}

#header p {
	float: right;
	margin-right: 20px;
	font-size: 13px;
	font-family: sans-serif;
}

#header img {
	vertical-align: middle;
}

#header .iconDate {
	padding-left: 20px;
	background-image: url(images/silk/date.png);
	background-repeat: no-repeat;
	background-position: left center;
}

#header .iconUser {
	padding-left: 20px;
	background-image: url(images/silk/user.png);
	background-repeat: no-repeat;
	background-position: left center;
}

#header .clear {
	clear: both;
}

.x-btn .o-eg-add {
	background-image: url(images/silk/add.png);
}

.x-btn .o-eg-edit {
	background-image: url(images/silk/pencil.png);
}

.x-btn .o-eg-remove {
	background-image: url(images/silk/delete.png);
}

.x-btn .o-eg-submit {
	background-image: url(images/silk/disk.png);
}

.x-btn .o-eg-search {
	background-image: url(images/silk/magnifier.png);
}

.x-btn .mc-table {
	background-image: url(images/silk/table.png);
}

.x-grid3-row-table .o-eg-rec-normal .x-grid3-cell-inner {
	background-image: url(images/silk/page_white.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.x-grid3-row-table .o-eg-rec-create .x-grid3-cell-inner {
	background-image: url(images/silk/page_white_add.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.x-grid3-row-table .o-eg-rec-update .x-grid3-cell-inner {
	background-image: url(images/silk/page_white_edit.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.x-grid3-row-table .o-eg-rec-delete .x-grid3-cell-inner {
	background-image: url(images/silk/page_white_delete.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.x-grid3-row-table .mc-eg-rec-support .x-grid3-cell-inner {
	color: #0000FF;
}

.mc-support-field {
	color: #0000FF;
	background-color: #FFFFAF;
	background-image: none;
}
